* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
p {
  font-size: 12px;
}

.wrapper {
  max-width: 1080px;
  margin: 20px auto;
}

.logo {
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding: 12px 0;
}

header nav {
  width: fit-content;
  float: right;
  font-size: 12px;
  height: 100%;
  padding: 12px 0;
}

nav a {
  padding: 10px 10px;
}

.banner img {
  clear: both;
  max-width: 100%;
}

.explore {
  text-align: center;
  padding: 0 100px;
  max-width: 100%;
  margin: 20px auto;
}
.explore p {
  margin: 20px auto;
}

.explore a,
.projects a {
  background-color: #60548a;
  padding: 10px 20px;
  border-radius: 2px;
  border-style: hidden;
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.card {
  width: 23.19%;
  margin: 0 2% 0 0;
  text-align: center;
  display: inline-block;
  height: 300px;
  border: 0.5px solid rgb(198, 198, 198);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(198, 198, 198);
}
.members .last-card {
  margin: 0;
}

.card img {
  height: 120px;
  margin: 20px 0;
}
.card:hover {
  background-color: rgb(221, 209, 209);
}
.card .name {
  font-size: 20px;
}
.card .data {
  margin: 20px 0;
  line-height: 16px;
}
.card .data span {
  font-weight: bold;
}
.projects {
  margin: 30px 0;
  padding-top: 1px;
  text-align: center;
}
.projectText {
  line-height: 30px;
  margin: 30px 0;
}
.projects .houses img {
  width: 22.8%;
  margin: 1%;
}
.projects .houses {
  margin-bottom: 20px;
}
.tabData {
  margin: 30px 50px;
  text-align: left;
}
.tabData .outerText {
  line-height: 30px;`
  margin-bottom: 20px;
}

table {
  width: 100%;
  border: 0.5px solid rgb(198, 198, 198);
  border-radius: 10px;
  line-height: 50px;
  border-collapse: collapse;
}

table tr th {
  border-bottom: 0.5px solid rgb(198, 198, 198);
  padding: 0 10px;
}
table tr td {
  border-bottom: 0.5px solid rgb(226, 225, 225);
  padding: 0 10px;
}
footer {
  background-color: black;
  margin: 0;
  text-align: center;
}

footer p {
  margin: 0 5px;
  padding: 10px;
  color: white;
}
